
/*This is background area*/
body{
	margin:0px;
	background-color: white;
}



div#test {
	background-color: white;
	border: white 1px solid;
	padding: 10px 40px 40px 40px;
}

div#test {
	border: white 1px solid;
	padding: 10px 40px 40px 40px;
}